doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Salat
    link(rel="stylesheet", href="style.css")
  body
    .container
      .main
        .text-1 1 day at the price of 23$
        .text-2 Make orders, take part in promotions, recommend us to friends or connect recommend us to friends or connect  
        button.button Sing up
        img.plate(src="./img/salate.png")
        img.v(src="./img/salad.png")
        .modal_wrepper
          .modal.off
            .text Thank you for your wonderful choice!
            button.modal__b.but Close 